#scrollbar {
	 /* TO CHANGE */
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 40px;
	z-index: 999;
	background: #95a2c6;
}
  #scrollbar #scrollcursor {
  	background: rgb(124, 115, 133); /* TO CHANGE */
  	cursor: pointer;
  	height: 50px;
  	left: 0;
  	position: absolute;
  	width: 40px;
  	z-index: 1000;
  }
  #scrollbar #scrolllinks li {
  	background: #fff;
  	border-radius: 50%;
  	color: rgba(0,0,0,0.29);
  	height: 10px;
  	margin: 0 0 0 15px;
  	position: absolute;
  	width: 10px;
  	z-index: 1001;
  }
    #scrollbar #scrolllinks li a {
    	animation: .5s;
    	color: inherit;
    	left: 30px;
    	position: absolute;
    	top: -5px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.51);
			color: #fff;
    }
    #scrollbar #scrolllinks li a:hover {
    	color: rgba(0,0,0,0.69);
    	font-weight: bold;
    }
    #scrollbar #scrolllinks li.active a {
    	color: rgba(0,0,0,0.8);
    	/*font-weight: bold;*/
			color: #bd7f12;
			text-shadow:none;
    }
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
