	/*
	 * design for each fixed sections
	 */
  section.fixed.f1 {
  	background-image: url("../images/background.jpg");
  }

  section.fixed.f2 {
    background-image: url("../images/background.jpg");
  }

		section.fixed.f2 p {
			text-align: center;
		}
    section.fixed.f2 h3 {
      color: #fff;
      text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    }

	/*
	 * design for each scrolling sectiona
	 */
	 section.scrolling.s1 .flyer {
		 text-align: center;
	 }
	section.scrolling.s2 iframe {
		float:right;
		width: 500px;
		padding: 0 0 20px 20px;
	}
	section.scrolling.s3 {
		background-color: #d52121;
		color: #fff;
	}
